boto3
botocore
cryptography
celery
daphne
channels[daphne]
channels_redis
Django>=3.2.4,<3.3
djangorestframework>=3.12.4,<3.13
django-extensions
django-environ
django-storages
django-debug-toolbar
django-cors-headers
drf-spectacular
django-celery-results
django-redis
django-db-connection-pool[postgresql]
Pillow>=8.2.0,<8.3.0
psycopg2==2.9.3
pyjwt[crypto]
uwsgi>=2.0.19,<2.1
