pyjwt[crypto]
Django>=3.2.4,<3.3
djangorestframework>=3.12.4,<3.13
django-cors-headers
drf-spectacular
django-celery-results
django-redis
django-db-connection-pool[postgresql]
celery
Pillow>=8.2.0,<8.3.0
psycopg2==2.9.3
uwsgi>=2.0.19,<2.1